/*fonts*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.transition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

select {
  color: #fff;
  padding: 2px 6px;
  width: 120px;
  border: 0;
  background: url("../images/Icon-Section-01.png") no-repeat right #2d2d2d;
  -webkit-appearance: none;
  /*Chrome*/
  -moz-appearance: none;
  /*FF*/
  appearance: none;
  /*CSS3*/
  background-position-x: 90px;
  background-position-y: 8px;
}

select::-ms-expand {
  display: none;
  /*IE*/
}

header {
  width: 100%;
  background: #000;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
}

header nav a {
  display: block;
  width: 120px;
  padding: 10px;
}

header nav .langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .langue > p {
  margin: 0 20px 0 0;
  color: #fff;
  font-size: 1rem;
}

.ader {
  width: 100%;
  background: url("../images/MainPage-Background.jpg") no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.ader .imgGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.ader .imgTop {
  margin-right: 15%;
  overflow: hidden;
}

.ader .imgTop > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ader .imgBot {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10%;
}

.ader .imgBot > img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  width: 100%;
  background: url("../images/Background-Alpha.png") repeat-y center center, url("../images/Background.jpg") no-repeat 0 0;
  background-size: contain, cover;
}

.sec-title .title-info {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

.sec-title .title-info > h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.sec-title .title-info > p {
  font-size: 1.6rem;
  color: #bde7ff;
}

.sec-title .title-info > p > span {
  color: #fff;
}

.sec-title .title-info > p.titleBot {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 10px;
  font-weight: bold;
}

.sec-title .title-info > p.small {
  color: #3f9ec8;
  font-size: 1.2rem;
}

.sec-title .btn-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-title .btn-download > a {
  width: 370px;
  height: 125px;
  background: url("../images/Button-Download.png") no-repeat 50% 50%;
  background-size: cover;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 125px;
}

.sec-title .btn-download > a:hover {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*step style*/
.stepInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 135px;
  padding-right: 60px;
}

.step1 h3, .step2 h3, .step3 h3, .step4 h3, .step5 h3 {
  position: relative;
  font-size: 2.8rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}

.step1 p, .step2 p, .step3 p, .step4 p, .step5 p {
  color: #bde7ff;
  font-size: 1.2rem;
  line-height: 25px;
  font-weight: 200;
  text-align: justify;
}

.step1 h3:before, .step2 h3:before, .step3 h3:before, .step4 h3:before, .step5 h3:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  width: 135px;
  height: 80px;
  top: -15px;
  left: -140px;
}

/*step style end*/
.step1 {
  padding-top: 60px;
}

.step1 h3:before {
  background: url("../images/Function-01.png") no-repeat 50% 50%;
}

.step2 {
  padding-top: 60px;
}

.step2 h3:before {
  background: url("../images/Function-02.png") no-repeat 50% 50%;
}

.step3 {
  padding-top: 60px;
}

.step3 h3:before {
  background: url("../images/Function-03.png") no-repeat 50% 50%;
}

.step4 {
  padding-top: 60px;
}

.step4 h3:before {
  background: url("../images/Function-04.png") no-repeat 50% 50%;
}

.step5 {
  padding-top: 60px;
}

.step5 .stepInfo {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 60px;
}

.step5 h3:before {
  background: url("../images/Function-05.png") no-repeat 50% 50%;
}

.btnQA {
  margin-top: 80px;
  padding-bottom: 80px;
}

.btnQA a {
  width: 300px;
  height: 125px;
  margin: 0 auto;
  background: url("../images/Button-Q&A.png") no-repeat 50% 50%;
  background-size: cover;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 125px;
}

.btnQA a:hover {
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
}

footer > p {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
  padding: 10px 0;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  * {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .ader {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ader .imgGroup {
    width: 100%;
  }
  .ader .imgTop {
    margin-right: 0%;
    margin-left: -140px;
  }
  .ader .imgTop > img {
    width: 110%;
  }
  .ader .imgBot > img {
    width: 90%;
  }
  .title-info > p {
    width: 100% !important;
    font-size: 1.2rem !important;
  }
  .title-info > p.titleBot {
    font-size: 1.8rem !important;
    letter-spacing: 10px;
  }
  .title-info > p.small {
    font-size: 1rem !important;
  }
  .col-lg-5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .col-lg-5 > img {
    display: block;
    margin: 40px auto 0 auto;
  }
  .col-lg-7 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /*step style*/
  .step1 h3, .step2 h3, .step3 h3, .step4 h3, .step5 h3 {
    font-size: 2.6rem;
  }
  .step1 p, .step2 p, .step3 p, .step4 p, .step5 p {
    font-size: 1rem;
  }
  /*step style end*/
  .step5 .stepInfo {
    padding-left: 135px;
    padding-right: 60px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  header nav {
    width: 85%;
  }
  header nav a {
    width: 100px;
  }
  header nav .langue > p {
    margin: 0 10px 0 0;
    font-size: 0.9rem;
  }
  header nav .langue > select {
    font-size: 0.8rem;
  }
  .title-info > h2 {
    font-size: 2rem !important;
    letter-spacing: 4px;
  }
  .title-info > p {
    font-size: 1rem !important;
  }
  .title-info > p.titleBot {
    font-size: 1.6rem !important;
    letter-spacing: 2px !important;
  }
  .title-info > p.small {
    font-size: 0.8rem !important;
  }
  /*step style*/
  .stepInfo {
    padding-left: 135px;
    padding-right: 30px;
  }
  .step1 h3, .step2 h3, .step3 h3, .step4 h3, .step5 h3 {
    font-size: 2rem;
  }
  /*step style end*/
  .step5 .stepInfo {
    padding-left: 135px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=main.css.map */